header {
  background-color: #2ecc71;
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  color: white;
}
.main.container {
  max-width: 960px;
  min-width: 600px;
  margin: auto;
}
